*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dec8e7b0;
    font-family: cursive;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
}
.pokemon-item, .search-item{
    background-color: #a3e4a1a0;
    border: 1px solid gray;
    border-radius: 5px;
}
button{
    font: 15px serif;
}
/*--------------Список покемонов-------*/
.heroes-list-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 15%;
    height: 80%;
    margin: 15px 10px 0 10px;
    padding: 15px 10px 10px 10px;
    border: 1px solid gray;
    border-radius: 25px;
    background-color: #d9c0e3;
    box-shadow: 0 0 10px 1px #0000009e;
}
.heroes-list-title{
    font-size: 18px;
    margin: 5px auto 5px auto;
}
.heroes-list{
    display: flex;
    flex-direction: column;
}
.hero-item{
    width: 130px;
    margin: 2.5px 0 2.5px 0;
    background-color: #cb90e2;
    border-radius: 10px;
    border: none;
}
.pagination-wrap , .pagination-wrap-type{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
    padding: 0 10px;
}
.next, .prev{
    width: 55px;
    padding: 2px;
    background-color: #dba1f2;
    border: 1px solid gray;
    border-radius: 5px;
}
/*-------------Инфо покемонов--------------------*/
.heroes-info-wrap{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 50%;
    margin: 15px 10px 0 10px;
    padding: 15px 10px 10px 10px;
    border: 1px solid gray;
    border-radius: 25px;
    background-color: #d9c0e3;
    box-shadow: 0 0 10px 1px #0000009e;
}
.heroes-title-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title{
    margin: 5px auto 5px auto;

}
.hero-img{
    width: 100px;
    height: 100px;
    margin: 50px;
}
.pokemon-title{
    margin-left: 60px;
}
.select-hero{
    display: flex;
    width: 300px;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 50px;
}
